spring.data.mongodb.host = 
spring.data.mongodb.port = 27017
spring.data.mongodb.database = 
spring.data.mongodb.credentials.username = 
spring.data.mongodb.credentials.password = 
spring.devtools.restart.enabled = true
spring.devtools.livereload.enabled = true